
body{
  height: 100vh;
}

form{
    width: 90vw;
    margin: 0 auto;
}

#logout {
  float: right;
}

form input{
  line-height: 50px;
}

form input, .item{
    width: 90vw;
    background: #DAF4FF;
    mix-blend-mode: normal;
    backdrop-filter: blur(40px);
    border-radius: 8px;
    border: none;
}

::placeholder{
    padding: 0 10px;
}

#creation{
    text-align: center;
}

#removeRow{
    /* margin: 40px auto; 
  width: 50px;  */
  color: #e1e8f4;
  font-family: "Roboto", sans-serif;
  background-color: #8860d0;
  box-shadow: 0px 2.76726px 2.21381px rgba(90, 185, 234, 0.0196802),
    0px 6.6501px 5.32008px rgba(90, 185, 234, 0.0282725),
    0px 12.5216px 10.0172px rgba(90, 185, 234, 0.035),
    0px 22.3363px 17.869px rgba(90, 185, 234, 0.0417275),
    0px 41.7776px 33.4221px rgba(90, 185, 234, 0.0503198),
    0px 100px 80px rgba(90, 185, 234, 0.07);
  border-radius: 8px;
  /* padding: 10px; */
  border: none;
}


#addRow{
    background-color: gray;
    border: none;
  box-shadow: 0px 2.76726px 2.21381px rgba(90, 185, 234, 0.0196802),
    0px 6.6501px 5.32008px rgba(90, 185, 234, 0.0282725),
    0px 12.5216px 10.0172px rgba(90, 185, 234, 0.035),
    0px 22.3363px 17.869px rgba(90, 185, 234, 0.0417275),
    0px 41.7776px 33.4221px rgba(90, 185, 234, 0.0503198),
    0px 100px 80px rgba(90, 185, 234, 0.07);
  padding: 10px;
}

button{
    width: 100%;
    text-align: center;
}

#nameCont{
    display: flex;
    margin: 5vh auto;
    width: 90vw;
}


h2#name{
    margin: auto 10px;
    display: block;
}

#avatar {
    overflow:hidden;
    float: left;
    width: 50px;
    height: 50px;
    background: #819096;
    border-radius: 50px;
    display: block;
  }

h2{
font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 33px;
/* identical to box height */

display: flex;
align-items: center;

color: #120E21;

}

h3{
    font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 33px;
/* identical to box height */

display: flex;
align-items: center;

color: #120E21;
margin-top: 20px;

}

@media only screen and (min-width: 1000px) {
  #main, form, form input, .item, #nameCont, #confirm{
    width: 600px;
  }

  #main{
    margin: 0 auto;
  }
  
}

