body {
    background-color: #f6fcff;
    font-family: "Red Hat Display", sans-serif;
}

header {
    height: 50px;
}

header * {
    text-decoration: none;
    color: black;
    padding: 10px;
}

header a {
    margin: auto 0;
}

.container {
    text-align: center;
    padding: 8%;
}

.form-group input {
    border-radius: 10px;
    background-color: #D9F4FF;
}

.form-group button {
    margin-top: 20%;
    border-radius: 20px;
    background-color: #5AB9EA;
}

#prompt {
    color: grey;
}

#error {
    color: red;
}

#forgotError {
    color: red;
}

.passDiv {
    position: relative;
}

.passDiv #show {
    position: absolute;
    top: 45%;
    right: 10px;
    z-index: 1;
    color: grey;
    cursor: pointer;
    margin-top: -10px;
}

#show:hover {
    color: black;
}