body {
  background-color: #f6fcff;
  font-family: "Red Hat Display", sans-serif;
}

header {
  height: 50px;
}

header * {
  text-decoration: none;
  color: black;
  padding: 10px;
}

header a {
  margin: auto 0;
}

#main {
  display: flex;
  flex-direction: column;
}

h3 {
  font-weight: bold;
  font-size: 25px;
}

#name {
  text-align: center;
}

#search {
  width: 90vw;
  margin: 0 auto;
}

#search > div {
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.fa-search {
  color: gray;
}

#avatar {
  width: 120px;
  height: 120px;
  background: #819096;
  border-radius: 120px;
  margin: 20px auto;
}

#location {
  display: flex;
  flex-direction: column;
}

#location h3 {
  margin: 30px 5vw;
}

#map {
  margin: 10px auto
}

#mapid {
  width: 90vw;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  height: 30vh;
}

#confirm {
  margin: 40px auto;
  width: 70vw;
  font-family: "Roboto", sans-serif;
}

#confirm button {
  background-color: #5ab9ea;
  box-shadow: 0px 2.76726px 2.21381px rgba(90, 185, 234, 0.0196802),
    0px 6.6501px 5.32008px rgba(90, 185, 234, 0.0282725),
    0px 12.5216px 10.0172px rgba(90, 185, 234, 0.035),
    0px 22.3363px 17.869px rgba(90, 185, 234, 0.0417275),
    0px 41.7776px 33.4221px rgba(90, 185, 234, 0.0503198),
    0px 100px 80px rgba(90, 185, 234, 0.07);
  border-radius: 100px;
  padding: 10px;
}

