#posts {
    border: none;
    background-color: #DAF4FF;
    font-weight: 500;
    width: 90%;
    text-align: center;
}

#phone, #location, #post, #mail {
    margin-bottom: 1em 5%;
}

#account, #logout {
    float: right;
}

#home {
    float: left;
}

#main {
    position: relative;
    width: 100%;
}

#edit1, #edit2, #edit3, #edit4 {
    float: right;
    position: fixed;
    margin-left: 10rem;
}

#edit1 {
    right: 37rem;
}

#edit2 {
    right: 40rem;
}

#edit3 {
    right: 37rem;
}
#edit4 {
    right: 27rem;
}

@media screen and (max-width: 650px) {
    #edit1, #edit2, #edit3, #edit4 {
        float: right;
        position: fixed;
        right: 10rem;
        margin-left: 10rem;
    }
}

@media screen and (max-width: 650px) {
    #edit1, #edit2, #edit3, #edit4 {
        float: right;
        position: fixed;
        right: 2rem;
        margin-left: 10rem;
    }
}
