#posts {
    border: none;
    background-color: #DAF4FF;
    font-weight: 500;
    width: 600px;
    text-align: center;
    margin: 20px auto;
}

#phone, #location, #post, #mail {
    margin-bottom: 1em 5%;
}

#account, #logout {
    float: right;
}

#home {
    float: left;
}

#main {
    position: relative;
    width: 100%;
}

.save {
    display: none;
}

.input {
    display: none;
}

#face {
    position:absolute;
    padding-bottom: 10px;
    padding-left: 10px;
}

#linkedin {
    position: absolute;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 0%;
    right: 52%;
}

#social {
    display: inline-block;
}

#edit1, #edit2, #edit3, #edit4 {
    float: right;
    position: absolute;
    margin-left: 10rem;
}

#edit1 {
    right: 36rem;
}

#edit2 {
    right: 38rem;
    top: 12.5rem;
}

#edit3 {
    right: 40rem;
    top: 17rem;
}

#edit4 {
    right: 27rem;
}

.material-icons {
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    #edit1, #edit2, #edit3, #edit4 {
        float: right;
        position: absolute;
        right: 10rem;
        margin-left: 10rem;
    }

    #posts {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    #edit1, #edit2, #edit3, #edit4 {
        float: right;
        position: absolute;
        right: 2rem;
        margin-left: 10rem;
    }
    #linkedin {
        position: absolute;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        bottom: 0%;
        right: 31%;
    }
}

#map {
    width: 100%;
}