.container {
    text-align: center;
    padding: 10%;
    border: 1px solid black;
}

#signupSubmit {
    margin-top: 20%;
    border-radius: 20px;
}

.form-group input {
    border-radius: 10px;
    background-color: #D9F4FF;
}

.form-group button {
    background-color: #5AB9EA;
}